@font-face {
    font-family: "Porsche";
    font-weight: normal;
    src: url("https://whtroesch.github.io/fonts/PorscheNextTT-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    width: 100%;
}

body {
    color: #ffffff;
    font-family: 'Porsche', Helvetica, Arial, sans-serif;
    font-size: 100%;
    height: 100%;
    width: 100%;    
    background-color: #dee5eb;
}

.superbrand-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2% 0.5% 1% 0.5%;
    margin: 0 auto;
    position: relative;
}

.productAtz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 49%;
    margin-bottom: 9%;
}

.productAtz article {
    width: 49%;
    padding-bottom: 10px;
    
}

.itemBox {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;      
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.125s linear;
}

.itemPrice {
    padding: 0px 0px 0px 4px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    color: #000;
    font-size: 1.6vh;
    font-weight: 700;   
    border-radius: 25px 0px 0px 25px;
}

.itemTitle {
    padding: 0px 4px 1px 0px;
    position: absolute;
    bottom: 19%;
    left: 1%;
    color: #fff;
    font-size: 1.1vh;
    font-weight: 500;   
    width: 100%;
}

.scaleBox {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.125s linear;
}

.scaleBox:hover {
    transform: scale(1.05);
}

.shadowBox {
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.125s linear;
}

.opacBox {
    opacity: 1;
}

.opacBox:hover {
    opacity: 0.8;
}

.top {
    position:absolute;
    bottom:0;
    width:100%;
}

.button {
    display: inline-block;
	cursor: pointer;
    padding: 8px 25px;
    background-color: #2a2a29;
    font-size: 2.4vh;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 3px solid #c2a563;  
    text-transform: uppercase;

}

