
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    width: 100%;
}

body {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 94%, #104d6e 94%, #104d6e 100%);
}

.superbrand-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2% 2% 0% 2%;
    margin: 0 auto;
}

.productAtz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 38%;
    margin-bottom: 3%;
}

.productAtz article {
    width: 49%;
    padding-bottom: 10px;
    
}

.itemBox {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.125s linear;     
}

.itemPrice {
    padding: 2px 4px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #104d6e;
    color: #ffffff;
    font-size: 1.6vh;
    font-weight: 600;   
}

.itemTitle {
    width: 100%;
    padding: 2px 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #104d6e;
    color: #ffffff;
    font-size: 1.2vh;
    font-weight: 400;
    height: 11%;
}

.scaleBox {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.125s linear;
}

.scaleBox:hover {
    transform: scale(1.05);
}

.shadowBox {
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.125s linear;
}

.shadowBox:hover {
    box-shadow: 0 0 10px #ffffff;
}

.opacBox {
    opacity: 1;
}

.opacBox:hover {
    opacity: 0.8;
}

.bottom {
    height: 9.5%;
}

.button {
	border: none;
	display: inline-block;
	cursor: pointer;
	padding: 13px 25px;
	background-color: #104d6e;
	color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
	text-align: center;
	text-decoration: none;
    font-size: 1.5vh;
    border-radius: 2px;
}

.button:hover {
    background-color: #00a6e0;
    border-radius: 2px;
    color: #fff;
}

.headerbox {
    background-color: #00a6e0;
    margin: 0px 16px 0px 0px;
    width: 1%;
    height: 100%;
}

.header {
    font-family: 'Inter', sans-serif;
    color: #104d6e;
    font-size: 1.9vh;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    font-weight: 600;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .video-wrapper {
    width: 100%;
    height: 40%;
    position: absolute;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }
  .overlay{
    background-color:rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 40%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .videoheader{
    height: 42%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    font-weight: 600;
    top: 15%;
    z-index: 5;
    text-decoration: none;
  }

  .absatz {
    margin-top: 1%;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 1.3vh;
    text-transform: none;
    font-weight: 400;
  }

  .kontakt {
    font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 2%;
  }

  .tel {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 2vh;
    margin: 0% 3%;
  }