* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background-color: #d9e8f6;
}


.superbrand-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
}

.top {
    padding-top: 10%;
    height: 50%;
    color: #000;
}

.bottom {
    height: 50%;
}

p{
    font-weight: bold;
    font-size: 2.7vh;
}

  
.content-slider {
    width: 100%;
    height: 100%;
}

.slider {
    height: 100%;
    width: 100%;
    overflow: visible;
    position: relative;
    }

.mask {
    overflow: hidden;
    height: 100%;
}

.slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.slider li {
    width: 100%;
    height: 100%;
    position: absolute;
    list-style: none;
}

.slider .quote {
    font-size: 2.1vh;
    text-align: center;
}

.slider li.anim1 {
    animation: cycle 30s linear infinite;
}

.slider li.anim2 {
    animation: cycle2 30s linear infinite;
}

.slider li.anim3 {
    animation: cycle3 30s linear infinite;
}

.slider li.anim4 {
    animation: cycle4 30s linear infinite;
  }
  
.slider li.anim5 {
    animation: cycle5 30s linear infinite;
}

.slider:hover li {
    animation-play-state: paused;
}

@keyframes cycle {
0% {
    top: 0px;
}
4% {
    top: 0px;
}
16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
}
20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
}
21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
}
50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
}
92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
}
96% {
    top: -325px;
    opacity: 0;
}
100% {
    top: 0px;
    opacity: 1;
}
}

@keyframes cycle2 {
0% {
    top: -325px;
    opacity: 0;
}
16% {
    top: -325px;
    opacity: 0;
}
20% {
    top: 0px;
    opacity: 1;
}
24% {
    top: 0px;
    opacity: 1;
}
36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
}
40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
}
41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
}
100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
}
}

@keyframes cycle3 {
0% {
    top: -325px;
    opacity: 0;
}
36% {
    top: -325px;
    opacity: 0;
}
40% {
    top: 0px;
    opacity: 1;
}
44% {
    top: 0px;
    opacity: 1;
}
56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
}
60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
}
61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
}
100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
}
}


@keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }