

body {

    margin: 0px;
    padding: 0px;
}

#wrapper_ad {

            position: relative;
            margin: 0px auto;
            width: 970px;
        }
#wrapper {

            position: absolute;
            width: 970px;
        }

#wrapper_vid {
    width: 560px;
    height: 230px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    margin-top: 9px;
    left: 292px;
}

#bglayer {
            z-index: 1;
            position: absolute;
        }

video {

    z-index: 2;
    transform-origin: 70% 70%;
    object-fit: contain;
}

#clickable {

    cursor: pointer;
}

#mute, #pause {

    width: 20px;
    height: 20px;
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;
    float: left;
    margin: 3px;
}

#mute:hover, #pause:hover {

    background-color: rgba(255, 255, 255, 0.5);
}

#wrapper_control {

    position: absolute;
    width: 100px;
    height: 30px;
    top: 13px;
    right: 6%;
    z-index: 3;
}